<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img id="logo" src="../../../assets/img/code1.png"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Team
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/">Option 1</a>
              <a class="dropdown-item" href="/">Option 2</a>
              <a class="dropdown-item" href="/">Option 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nopage">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--- Image Slider -->
  <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/GoldenState_SiliconValley_Feature.jpg" />
        <div class="carousel-caption">
          <h1 class="display-2">RICHARD BRANSON</h1>
          <h3>"There is no planet B. We have to take care of the one we have."</h3>
          <button type="button" class="btn btn-outline-light btn-lg">
            SOON TO BE A POP UP WINDOW
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/solar-roofs.jpg" />
        <div class="carousel-caption">
          <h1 class="display-2">ELon Musk</h1>
          <h3>
            "We have this handy fusion reactor in the sky called the sun. You
            don't have to do anything, it just works. It shows up everyday."
          </h3>
          <button type="button" class="btn btn-outline-light btn-lg">
            SOON TO BE A POP UP WINDOW
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/factory.jpg" />
        <div class="carousel-caption">
          <h1 class="display-2">Francois Hollande</h1>
          <h3>
            "We have a single mission: to protect and hand on the planet to the
            next generation."
          </h3>
          <button type="button" class="btn btn-outline-light btn-lg">
            SOON TO BE A POP UP WINDOW
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--- Jumbotron -->
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">We invite YOU to save the planet!</p>
      </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Get Info</button></a>
      </div> -->
    </div>
  </div>

 <!--- Two Column Section -->
 <div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>Your Idea, We Make It Possible</h2>
      <p>You come up with the idea for an app, could be web based, mobile, or for pc/mac</p>
      <p>We help you make it a reality</p>
      <p>Just contact us and ask about previous projects to give you an idea of waht we are capable of</p>
      <br>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
    <div class="col-md-12 col-lg-6">
      <img src="../../../assets/img/blueimg.jpg" class="img-fluid">
    </div>
  </div>
</div>

<hr class="my-4">

  <!--- Welcome Section -->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 classI="display-4">How to Reduce Your Carbon Footprint</h1>
      </div>
      <hr />
      <div class="col-12">
        <p class="lead">Tips and tricks</p>
      </div>
    </div>
  </div>

  <!--- Three Column Section -->
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-shower"></i>
        <h3>SHOWERS</h3>
        <p>Reduce showers by X minutes.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-car"></i>
        <h3>TRAVEL</h3>
        <p>Reduce travel by X miles.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fas fa-utensils"></i>
        <h3>FOOD CHOICES</h3>
        <p>Try eating less domestic meat.</p>
      </div>
    </div>
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-soap"></i>
        <h3>APPLIANCES</h3>
        <p>Run your dishwasher, dryer and washing machine less.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-dumpster"></i>
        <h3>WASTE</h3>
        <p>Reduce your waste and recycle more.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fas fa-bolt"></i>
        <h3>ELECTRICITY</h3>
        <p>Reduce your monthly kilowatt hours by X.</p>
      </div>
    </div>
    <hr class="my-4" />
  </div>

  <div *ngIf="completedTest">
    <hr class="my-4" />
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">YOUR RESULTS</h1>
          <hr />
        </div>
      </div>
    </div>

    <!--- Cards -->
    <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-md-4">
          <div class="card">
            <!-- <img class="card-img-top" src="" /> -->
            <div class="card-body">
              <h4 class="card-title">WATER</h4>
              <p class="card-text">Bad!</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <!-- <img class="card-img-top" src="" /> -->
            <div class="card-body">
              <h4 class="card-title">ELECTRICITY</h4>
              <p class="card-text">Also bad!<br /></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <!-- <img class="card-img-top" src="" /> -->
            <div class="card-body">
              <h4 class="card-title">WASTE & FOOD</h4>
              <p class="card-text">Meh.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- Two Column Section -->
  <div class="container-fluid padding">
    <div class="row padding">
      <!-- <div class="col-md-12 col-lg-6">

      </div> -->
      <div class="col-md-12 col-lg-12">
        <iframe
          src="https://climate.nasa.gov/interactives/climate_time_machine"
          width="900"
          height="700"
        ></iframe>
        <iframe
          src="https://climate.nasa.gov/embed/128"
          width="768"
          height="450"
          scrolling="no"
          frameborder="0"
        ></iframe>
        <iframe
          src="https://climate.nasa.gov/interactives/global-ice-viewer"
          width="900"
          height="700"
        ></iframe>
        <iframe
          src="https://climate.nasa.gov/quizzes/quiz-energy/"
          width="916"
          height="620"
        ></iframe>
        <iframe
          src="https://climate.nasa.gov/quizzes/global-temp-quiz/"
          width="916"
          height="620"
        ></iframe>
      </div>
    </div>
    <hr class="my-4" />
  </div>
  <!--- Connect -->
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>Connect</h2>
      </div>
      <div class="col-12 social padding">
        <a href=""
          ><i class="fab fa-facebook"></i
        ></a>
        <a href=""
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="nopage.html"><i class="fab fa-google-plus-g"></i></a>
        <a href=""
          ><i class="fab fa-instagram"></i
        ></a>
        <a href=""
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>

  <!--- Footer -->
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <img id="foot-gif" src="../../../assets/img/code.gif" />
          <hr class="light" />
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <h5></h5>
          <hr class="light" />
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <h5></h5>
          <hr class="light" />
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="col-12">
          <hr class="light-100" />
          <h5>&copy; </h5>
        </div>
      </div>
    </div>
  </footer>
</body>
