<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span style="font-size: 30px">Climate Impact</span>
      </a>
    </div>
  </nav>

  <!--- Image Slider -->
  <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/GoldenState_SiliconValley_Feature.jpg" />
        <div class="carousel-caption">
          <h1 class="display-2">RICHARD BRANSON</h1>
          <h3>"There is no planet B. We have to take care of the one we have."</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/solar-roofs.jpg" />
        <div class="carousel-caption">
          <h1 class="display-2">ELon Musk</h1>
          <h3>
            "We have this handy fusion reactor in the sky called the sun. You
            don't have to do anything, it just works. It shows up everyday."
          </h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/factory.jpg" />
        <div class="carousel-caption">
          <h1 class="display-2">Francois Hollande</h1>
          <h3>
            "We have a single mission: to protect and hand on the planet to the
            next generation."
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!--- Jumbotron -->
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">We invite YOU to save the planet!</p>
      </div>
    </div>
  </div>

 <!--- Quiz Section -->
 <div *ngIf="!completedTest" class="container-fluid padding">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Climate Impact Score - Quiz</h1>
        <hr />
      </div>
    </div>
  </div>
  <div class="row padding quiz-margin">
    <div class="col-md-12 col-lg-12">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Household</ng-template>
            <div class="row">
              <mat-form-field>
                <mat-label>Home Size</mat-label>
                <mat-select [formControl]="homeSizeControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="2">Apartment</mat-option>
                  <mat-option value="4">Small</mat-option>
                  <mat-option value="7">Medium</mat-option>
                  <mat-option value="10">Large</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field>
              <mat-label>Amount of People in Household</mat-label>
              <mat-select [formControl]="peopleControl">
                <mat-option value="0">--Select--</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
                <mat-option value="7">7</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="9">9</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step label="Food, Waste & Recycling">
          <form [formGroup]="secondFormGroup">
            <div class="row">
              <mat-form-field>
                <mat-label>How often do you eat meat?</mat-label>
                <mat-select [formControl]="foodChoiceControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="2">Vegan</mat-option>
                  <mat-option value="4">Vegitarian</mat-option>
                  <mat-option value="8">A few times per week</mat-option>
                  <mat-option value="10">Daily</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>How much garbage do you produce per week?</mat-label>
                <mat-select [formControl]="wasteControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="50">4+ containers</mat-option>
                  <mat-option value="40">3 containers</mat-option>
                  <mat-option value="30">2 containers</mat-option>
                  <mat-option value="20">1 container</mat-option>
                  <mat-option value="5">Less than 1 container</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
          <section class="example-section">
            <span class="example-list-section">
              <mat-label>What do you recycle?</mat-label>
              <ul>
                <li *ngFor="let item of recycleItems">
                  <mat-checkbox [(ngModel)]="item.selected"
                  [color]="primary">
                  {{item.name}}
                </mat-checkbox>
              </li>
            </ul>
        </span>
        </section>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        </mat-step>
        <mat-step label="Utility & Travel">
          <form [formGroup]="secondFormGroup">
            <div class="row">
              <mat-form-field>
                <mat-label>How often do you run the dishwasher per week?</mat-label>
                <mat-select [formControl]="dishwasherControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="4">9+</mat-option>
                  <mat-option value="3">4-8</mat-option>
                  <mat-option value="2">1-3</mat-option>
                  <mat-option value="1">Less than once</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>How often do you run a washing machine?</mat-label>
                <mat-select [formControl]="washingMachineControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="4">9+</mat-option>
                  <mat-option value="3">4-8</mat-option>
                  <mat-option value="2">1-3</mat-option>
                  <mat-option value="1">Less than once</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>How long are your showers (in minutes per day)?</mat-label>
                <mat-select [formControl]="showerLengthControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="15">30+</mat-option>
                  <mat-option value="10">15-30</mat-option>
                  <mat-option value="5">5-15</mat-option>
                  <mat-option value="1">Less than 5</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>Approximately how many miles do you travel per year?</mat-label>
                <mat-select [formControl]="milesDrivenControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="12">15,000+</mat-option>
                  <mat-option value="10">10,000-15,000</mat-option>
                  <mat-option value="6">1,000-10,000</mat-option>
                  <mat-option value="4">Less than 1,000</mat-option>
                  <mat-option value="0">I do not own a vehicle</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>Approximately how many kilowatt hours do you use per month?</mat-label>
                <mat-select [formControl]="electricityControl">
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="12">1,000+</mat-option>
                  <mat-option value="10">700-1000</mat-option>
                  <mat-option value="6">400-700</mat-option>
                  <mat-option value="4">Less than 400</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="finishTest()">Calculate Score!</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>

<div *ngIf="completedTest">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">YOUR RESULTS</h1>
        <hr />
      </div>
    </div>
  </div>

  <!--- Cards -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 *ngIf="finalScore <= 65" class="card-title">You scored {{finalScore}}: EXCELLENT</h3>
            <p *ngIf="finalScore <= 65">Amazing! You have a really low impact on the environment. Keep doing what you're doing!</p>

            <h3 *ngIf="(finalScore <= 85) && (finalScore > 65)" class="card-title">You scored {{finalScore}}: GOOD</h3>
            <p *ngIf="(finalScore <= 85) && (finalScore > 65)">Very cool! You have some room for improvement, but otherwise you are low-impact on the environment.</p>
            
            <h3 *ngIf="finalScore > 85" class="card-title">You scored {{finalScore}}: BAD</h3>
            <p *ngIf="finalScore > 85">Hmm, we have some tips for reducing your impact on the environment. You should check them out below!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button mat-button (click)="resetTest()">Retake the Test</button>
    </div>
  </div>
</div>

<hr class="my-4">
  <div *ngIf="completedTest" class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 classI="display-4">How to Reduce Your Carbon Footprint</h1>
      </div>
      <hr />
      <div class="col-12">
        <p class="lead">Tips and tricks</p>
      </div>
    </div>
  </div>

  <div *ngIf="completedTest" class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-shower"></i>
        <h3>SHOWERS</h3>
        <p *ngIf="optimizedChoices[0] != 0">Reduce showers by {{optimizedChoices[0]}} minutes.</p>
        <p *ngIf="optimizedChoices[0] == 0">You're doing really well with your shower length! Keep it up!</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-car"></i>
        <h3>TRAVEL</h3>
        <p *ngIf="optimizedChoices[1] != 0">Reduce travel by {{optimizedChoices[1]}} miles per week.</p>
        <p *ngIf="optimizedChoices[1] == 0">Wow! You don't travel that much. That's good!</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fas fa-utensils"></i>
        <h3>FOOD CHOICES</h3>
        <p *ngIf="optimizedChoices[2] != 0">Try eating meat a few times a week instead of daily.</p>
        <p *ngIf="optimizedChoices[2] == 0">Keep up the healthy eating, it's good for the climate!</p>
      </div>
    </div>
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-soap"></i>
        <h3>APPLIANCES</h3>
        <p *ngIf="optimizedChoices[5] <= 1">Wow! You're doing great!</p>
        <p *ngIf="optimizedChoices[5] > 2">Hey there, trying using your appliances a combined amount of {{optimizedChoices[5]}} less times per week.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fas fa-dumpster"></i>
        <h3>WASTE</h3>
        <p *ngIf="optimizedChoices[3] != 0">Try reducing your waste by {{optimizedChoices[3]}} garbage can per week.</p>
        <p *ngIf="optimizedChoices[3] == 0">You don't produce that much waste. Thank you!</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fas fa-bolt"></i>
        <h3>ELECTRICITY</h3>
        <p *ngIf="optimizedChoices[4] != 0">Try reducing your monthly kilowatt hours by {{optimizedChoices[4]}}.</p>
        <p *ngIf="optimizedChoices[4] == 0">You're really keeping the lights off, huh? Awesome!</p>
      </div>
    </div>
  </div>
  <hr class="my-4" />

  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <h1 style="margin-bottom: 4rem;">Climate Change Over Time</h1>
        <p>Though warming has not been uniform across the planet, the upward trend in the globally averaged temperature shows that more areas are warming than cooling. According to NOAA's 2020 Annual Climate Report the combined land and ocean temperature has increased at an average rate of 0.13 degrees Fahrenheit (0.08 degrees Celsius) per decade since 1880; however, the average rate of increase since 1981 (0.18°C / 0.32°F) has been more than twice that rate.</p>
        <p>The 10 warmest years on record have all occurred since 2005, and 7 of the 10 have occurred just since 2014. Looking back to 1988, a pattern emerges: except for 2011, as each new year is added to the historical record, it becomes one of the top 10 warmest on record at that time, but it is ultimately replaced as the “top ten” window shifts forward in time.</p>
        <p>By 2020, models project that global surface temperature will be more than 0.5°C (0.9°F) warmer than the 1986-2005 average, regardless of which carbon dioxide emissions pathway the world follows. This similarity in temperatures regardless of total emissions is a short-term phenomenon: it reflects the tremendous inertia of Earth's vast oceans. The high heat capacity of water means that ocean temperature doesn't react instantly to the increased heat being trapped by greenhouse gases. By 2030, however, the heating imbalance caused by greenhouse gases begins to overcome the oceans' thermal inertia, and projected temperature pathways begin to diverge, with unchecked carbon dioxide emissions likely leading to several additional degrees of warming by the end of the century.</p>
      </div>
      <div class="col-md-12 col-lg-6">
        <iframe
        src="https://climate.nasa.gov/interactives/climate_time_machine"
        width="900"
        height="700"
        ></iframe>
      </div>
    </div>
  </div>
  <hr class="my-4" />
  
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <iframe
        src="https://climate.nasa.gov/embed/128"
        width="768"
        height="460"
        scrolling="no"
        frameborder="0"
        ></iframe>
      </div>
      <div class="col-md-12 col-lg-6">
      <h1 style="margin-bottom: 4rem;">Sea Level Increase Over Time</h1>
      <p>Global sea level has been rising over the past century, and the rate has increased in recent decades. In 2014, global sea level was 2.6 inches above the 1993 average—the highest annual average in the satellite record (1993-present). Sea level continues to rise at a rate of about one-eighth of an inch per year.</p>
      <p>Higher sea levels mean that deadly and destructive storm surges push farther inland than they once did, which also means more frequent nuisance flooding. Disruptive and expensive, nuisance flooding is estimated to be from 300 percent to 900 percent more frequent within U.S. coastal communities than it was just 50 years ago.</p>
      <p>The two major causes of global sea level rise are thermal expansion caused by warming of the ocean (since water expands as it warms) and increased melting of land-based ice, such as glaciers and ice sheets. The oceans are absorbing more than 90 percent of the increased atmospheric heat associated with emissions from human activity. </p>
    </div>
  </div>
</div>
<hr class="my-4" />

 <div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h1 style="margin-bottom: 4rem;">Sea Level Increase Over Time</h1>
      <p>A new study has found that the world lost 28 trillion tons of ice lost in 24 years, from 1994 to 2017. To give some idea of this amount, the lost ice would be enough to cover the entire state of Arizona with a polar cap 30 stories tall (or about 100 meters).</p>
      <p>One of the biggest concerns from this immense loss of ice is the rise in sea levels that comes with it. The perpetrators are the usual suspects: the ice of Greenland, of the minor glaciers and, recently, those of Antarctica.</p>
      <p>Currently, Greenland and minor glaciers play a dominant role in sea level rise, while the remaining contribution is due to the phenomenon of thermal expansion of the oceans. The more we warm the oceans, which absorb about 85% of the heat due to global warming, the more these “swell” (expand) a bit like the gas in a hot air balloon when it heats up, favoring the rising of the seas.</p>
      <p>Future estimates suggest that if we were to continue on today’s trajectory of greenhouse gas emissions and global warming, the role of glaciers in sea level rise will be less and less — in view of the fact that many will, alas, disappear — while Greenland and Antarctica will be responsible for most of the rising of the seas through the melting of their ice. The role of thermal expansion will diminish, not because the ocean will not continue to expand — rather, it will continue to do so faster and faster as it continues to warm up — but because the melting of polar ice will be exorbitant and far outweigh the effect of thermal expansion</p>
    </div>
    <div class="col-md-12 col-lg-6">
      <iframe
        src="https://climate.nasa.gov/interactives/global-ice-viewer"
        width="900"
        height="700"
      ></iframe>
    </div>
  </div>
</div>
<hr class="my-4" />

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>More Info</h2>
      </div>
      <div class="col-12 social padding">
        <a href="https://en.wikipedia.org/wiki/Climate"
          ><i class="fab fa-wikipedia-w"></i
        ></a>
        <a href="https://twitter.com/search?q=climate&src=typed_query"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.youtube.com/results?search_query=climate"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <img id="foot-gif" src="../../../assets/img/qu-full-logo.png" />
          <hr class="light" />
          <p>Quinnipiac University</p>
          <p>275 Mt. Carmel Ave</p>
          <p>Hamden, CT 06518</p>
          <p></p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <h3>Team Members</h3>
          <hr class="light" />
          <p>Kevin Sangurima</p>
          <p>Massimo Angelillo</p>
          <p>Stack Overflow</p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <h3>QCC Hackathon Spring-21</h3>
          <hr class="light" />
          <p>Topic: Climate</p>
          <p>Tool: Climate Impact Web-Tool</p>
          <p>Thank you to the officers for organizing this event!</p>
          <p>Thank you to the judges!</p>
        </div>
      </div>
    </div>
  </footer>
</body>
